p {
    color: white;
}
.header {
    background-color: maroon;
    width: auto;
    padding: 7px 30px;
    padding-top: 1px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.table {
background-color: white;
color: black;
width: 100%;
}